<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v18.0&appId=486206640184103&autoLogAppEvents=1" nonce="vuyLUL8I"></script>
<div class="container">
  
  <div class="login-form">
    <h2>Login</h2>
    <form id="loginForm" #f="ngForm" (ngSubmit)="login()">
		<label for="username">Username</label>
		<input
			type="text"
			id="username"
			name="username"
			[(ngModel)]="form.username"
			required
			autocomplete="username"
			#username="ngModel"
		/>
		<div
			class="alert alert-danger"
			role="alert"
			*ngIf="username.errors && f.submitted"
		>
			Username is required!
		</div>
		<label for="password">Password</label>
		<input
			type="password"
			id="password"
			name="password"
			[(ngModel)]="form.password"
			required
			autocomplete="current-password"
			minlength="6"
			#password="ngModel"
		/>
		<div
			class="alert alert-danger"
			role="alert"
			*ngIf="password.errors && f.submitted"
		>
			<div *ngIf="password.errors.required">Password is required</div>
			<div *ngIf="password.errors.minlength">
			Password must be at least 6 characters
			</div>
		</div>
		

        <button type="submit">Login</button>
	    <div
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && isLoginFailed"
        >
          Login failed: {{ errorMessage }}
        </div>
    </form>
	<div class="alert alert-success" *ngIf="isLoggedIn">
		Logged in.
	</div>
    <p>Don't have an account? <a [routerLink]="['/register']">Register</a></p>
    <div class="social-container">
    	<div id="sign-in-container">
	    	<div id="g_id_onload"
			     data-client_id="30944815160-5e53ash14ooj8fq4o311cjsrh8p2npic.apps.googleusercontent.com"
			     data-context="signin"
			     data-ux_mode="popup"
			     data-callback="handleCredentialResponse"
			     data-auto_prompt="false">
			</div>
			
			<div class="g_id_signin"
			     data-type="standard"
			     data-shape="rectangular"
			     data-theme="outline"
			     data-text="signin_with"
			     data-size="large"
			     data-logo_alignment="left">
			</div>
	    </div>
	    
	   	<div id="spinner" class="fb"
		    style="
		    	position: relative;
		    	left: -70px;
		        background: #4267b2;
		        border-radius: 5px;
		        color: white;
		        height: 28px;
		        text-align: center;
		        width: 200px;">
		    <div
			    class="fb-login-button"
			    data-max-rows="1"
			    data-size="large"
			    data-button-type="continue_with"
			    data-use-continue-as="true"
			    onlogin="checkLoginState"
			    
		        
		   	></div>
		</div>
    </div>
    
  </div>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<script src="/js/login.js"></script>
<script src="/js/social.js" defer></script>
<script>
var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
}
</script>